name: Check
on:
  workflow_dispatch:
  pull_request:
    branches: [main]
  push:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions: {}

jobs:
  types:
    name: Types
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4
      - name: Install dependencies
        uses: ./.github/actions/setup
      - run: pnpm check
      # - run: pnpm test-types --target '>=5.4'

  lint:
    name: Lint
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4
      - name: Install dependencies
        uses: ./.github/actions/setup
      - run: pnpm circular
      - run: pnpm lint
      - run: pnpm codegen
      - name: Check for codegen changes
        run: git diff --exit-code

  test:
    name: Test
    runs-on: ubuntu-latest
    permissions:
      contents: read
    timeout-minutes: 10
    services:
      rabbitmq:
        image: rabbitmq:3-management
        ports:
          - 5679:5672
          - 15679:15672
        options: >-
          --health-cmd "rabbitmqctl node_health_check"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
      nats:
        image: nats:alpine
        ports:
          - 4222:4222
          - 8222:8222
          - 6222:6222
        options: --name nats
    steps:
      - uses: actions/checkout@v4
      - name: Start JetStream # temporary hack because it is not possible to configure the entrypoint in services
        run: |
          chmod a+x ${{ github.workspace }}/.github/workflows/nats-entrypoint.sh
          docker cp ${{ github.workspace }}/.github/workflows/nats-entrypoint.sh nats:/usr/local/bin/docker-entrypoint.sh
          docker restart nats
      - name: Install dependencies
        uses: ./.github/actions/setup
      - name: Build
        run: pnpm build
      - name: Test
        run: pnpm vitest
        env:
          NODE_OPTIONS: --max_old_space_size=8192
